@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    padding-bottom: 40px
    &-menu
      margin-left: 406px
      &__link
        font-size: 14px
    &__button
      width: 138px
      height: 44px
    &__link
      margin-top: 10px
  .about
    &-text
      margin-right: 58px
    &-book
      padding: 90px 100px
    &-info
      font-size: 16px
      line-height: 25px
  .button
    &-outline
      padding: 17px 25px 17px 25px
    &-primary
      padding: 17px 40px 17px 40px
  .recommendations
    &-wrp
      max-width: 100%
  .card
    max-width: none
    &__info
      margin-left: 30px
    &__title
      min-width: 250px
  .wrapper
    flex-wrap: wrap
  .month
    &-top
      margin: 0 0 70px 0
      padding: 0
      max-width: none
      width: 100%
    &-wrapper
      display: flex
      flex-wrap: wrap
      align-items: flex-start
      justify-content: space-between
  .categories
    &-card
      width: 235px
      height: 220px
    &-image
      margin-bottom: 15px
    &-title
      font-size: 18px
      margin-bottom: 10px
    &-subtitle
      font-size: 14px
  .unreleased
    &__img
      width: 160px
      height: 220px
@media (max-width: 992px)
  .container
    max-width: 760px
  .navbar
    padding-bottom: 30px
    &-menu
      margin-left: 135px
    &__button
      width: 128px
      height: 40px
    &__link
      margin-top: 10px
      font-size: 14px
  .about
    &-text
      margin-right: 48px
      margin-top: -30px
    &-book
      padding: 80px 80px
    &-info
      font-size: 16px
    &-title
      font-size: 30px
      margin-bottom: -7px
    &-psycholigy
      margin-top: 10px
      font-size: 30px
      line-height: 35px
    &-subtitle
      font-size: 16px
      margin-top: 25px
      margin-bottom: 15px
    &-info
      font-size: 14px
  .button
    &-outline
      padding: 17px 79px 17px 80px
      margin-right: 0
    &-primary
      margin-top: 30px
      padding: 17px 79px 17px 80px
  .card
    &__title
      min-width: 200px
  .categories
    &__button
      width: 45px
      height: 45px
      padding-top: 15px
    &-card
      width: 180px
      height: 190px
    &-image
      width: 40px
      height: 40px
    &-title
      font-size: 14px
      margin-bottom: 5px
    &-subtitle
      font-size: 12px
@media (max-width: 778px)
  .container
    max-width: 700px
    width: 92%
  body
    padding-top: 68px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        left: 0
        z-index: 99
    &-menu
      display: none
      &--visible
        display: block
        position: fixed
        left: -100px
        right: 0
        bottom: 0
        top: 58px
    &-top
      min-height: 50px
    &-menu
      flex-direction: column
      &__item
        flex-direction: column
        text-align: center
        margin-bottom: 20px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      &__line
        width: 16px
        height: 1px
        background-color: $button
        cursor: pointer
  .logo
    &__image
      width: 70px
      height: 30px
  .about
    &-text
      margin-right: 30px
      margin-top: -30px
    &-book
      padding: 50px 50px
    &-info
      font-size: 16px
    &-title
      font-size: 20px
      margin-bottom: -7px
    &-psycholigy
      margin-top: 10px
      font-size: 20px
      line-height: 35px
    &-subtitle
      font-size: 12px
      margin-top: 15px
      margin-bottom: 5px
    &-info
      font-size: 10px
  .button
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-top: 40px
    &-outline
      width: 200px
      padding-top: 8px
      padding-bottom: 8px
      padding-left: 10px
      padding-right: 10px
      text-align: center
      font-size: 10px
    &-primary
      width: 200px
      padding-top: 8px
      padding-bottom: 8px
      padding-left: 10px
      padding-right: 10px
      text-align: center
      margin-top: 10px
      font-size: 10px
  .recommendations
    padding: 45px 0 49px 0
    &__card
      flex-basis: 100%
      min-height: auto
  .card
    &__title
      min-width: 300px
  .categories
    &-card
      width: 150px
      height: 140px
      padding-top: 25px
      margin-bottom: 20px
    &-image
      width: 30px
      height: 30px
      margin-bottom: 5px
    &-title
      font-size: 12px
      margin-bottom: -5px
    &-subtitle
      font-size: 10px
  .swiper
    &-slide
      display: flex
      flex-wrap: wrap
@media (max-width: 576px)
  .container
    max-width: 320px
    width: 92%
  .navbar
    padding-bottom: 10px
    &-menu
      margin-left: 50px
      &__link
        font-size: 13px
    &__button
      width: 118px
      height: 35px
    &__link
      margin-left: 20px
      margin-top: -30px
      font-size: 15px
  .button
    &-outline
      width: 100%
    &-primary
      width: 100%
  .book
    padding-bottom: 10px
    &-info
      flex-direction: column
  .about
    &-text
      width: 290px
      margin-right: 10px
      margin-top: -60px
      text-align: center
    &-book
      width: 295px
      padding: 50px 70px
      margin-top: 40px
    &-image
      width: 160px
      height: 244px
      box-shadow: 0px 10px 35px 0px
    &-title
      font-size: 35px
    &-psycholigy
      margin-top: 10px
      font-size: 35px
      line-height: 38px
    &-subtitle
      font-size: 15px
      margin-top: 20px
      margin-bottom: 20px
    &-info
      font-size: 14px
      line-height: 0
  .recommendations
    margin: 0px auto 0px auto
    &__title
      font-size: 28px
      margin-bottom: 72px
      text-align: center
    &__card
      flex-basis: 0
      &:not(:first-child)
        display: none
    &__button
      width: 300px
      font-size: 16px
      text-transform: none
      padding: 16px 0
  .card
    position: relative
    max-height: none
    min-width: auto
    padding: 0
    margin-bottom: 22px
    &__link
      &-img
        position: absolute
        top: -25px
        left: 50%
        transform: translateX(-50%)
    &__img
      border-radius: 8px
      width: 96px
      height: 137px
    &__info
      margin: 121px auto 0 auto
    &__title
      text-align: center
      font-size: 20px
      line-height: 24px
    &__text
      margin: 0 auto 20px auto
      display: block
    &__price
      margin: 0 auto 22px auto
      font-size: 16px
    &__buttons
      margin: 0 auto
      width: 155px
      margin-bottom: 20px
  .month
    &-top
      margin-bottom: 55px
      &__title
        font-size: 28px
        text-align: center
        margin-bottom: 35px
      &-wrp
        padding: 27px 9px 0 9px
      &__more
        padding: 5px 0
        margin-top: 18px
      &__subtitle
        font-size: 15px
      &__button
        font-size: 12px
  .swiper
    &-container
      padding-top: 20px
  .categories
    padding-bottom: 100px
    &-card
      width: 140px
      height: 182px
      padding: 20px 5px
    &-image
      width: 36px
      height: 36px
    &-title
      font-size: 14px
      line-height: 20px
      margin-bottom: 20px
    &-subtitle
      font-size: 12px
    &__button
      &_prev
        margin-top: 250px
        margin-left: 120px
      &_next
        margin-top: 250px
        margin-right: 120px
