.footer
  padding-top: 106px
  padding-bottom: 0
  &-wrapper
    display: flex
    margin-bottom: 73px
  &__info
    margin-right: 52px
  &__logo
    margin-bottom: 25px
  &__description
    display: block
    font-weight: normal
    font-size: 15px
    line-height: 28px
    color: #5A7184
    margin-bottom: 29px
    max-width: 240px
  &__social-link
    text-decoration: none
  &__icon
    fill: #5A7184
    width: 42px
    height: 40px
    &--mr
      margin-right: 4px
  &__title
    font-weight: bold
    font-size: 18px
    line-height: 25px
    margin-top: 0
    margin-bottom: 31px
  &__ul
    list-style: none
    padding: 0
    margin-right: 81px
    margin-top: 0
    margin-bottom: 0
    &--mr
      margin-right: 96px
  &__item
    font-weight: normal
    font-size: 16px
    line-height: 22px
    margin-bottom: 24px
  &__link
    text-decoration: none
    color: inherit
  &__bottom
    display: flex
    align-items: center
    flex-direction: column
  &__heart
    margin-bottom: 24px
  &__copy
    display: block
    font-size: 16px
    line-height: 22px
    text-align: center
