.recomendation
  &-wrapper
    display: flex
    justify-content: space-between
    margin-bottom: 79px
  &-title
    font-family: Roboto Condensed
    font-size: 32px
    font-style: normal
    font-weight: 700
    line-height: 40px
    color: $blue
    margin-bottom: 30px
.card
  white-space: nowrap
  &-book
    display: flex
    margin-right: 32px
    width: 358px
    height: 260px
    border: 1px solid $border
    border-radius: 8px
  &-image
    width: 160px
    height: 255px
.top
  &-image
    width: 120px
    height: 182px
