.unreleased
  background-color: $blue
  padding-top: 37px
  padding-bottom: 78px
  &__book
    display: flex
    justify-content: space-between
    &-img
      margin-top: 38px
      width: 205px
      height: 299px
      border-radius: 8px
      margin-left: 0
    &-image
      margin-top: 38px
      width: 205px
      height: 299px
      border-radius: 8px
      margin-left: 25px
  &__logo
    &-icon
      margin-left: 20px
  &-header
    display: flex
    justify-content: space-between
    align-items: center
  &-title
    color: $light
    font-family: Roboto Condensed
    font-size: 36px
    font-style: normal
    font-weight: 700
    line-height: 48px
